<!DOCTYPE html>
<html>

<head>
  <title>EM😮J😮</title>
  <link rel="shortcut icon" href="favicon.ico">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.css" rel="stylesheet">
  <link rel="stylesheet" href="/static/css/style.css">
</head>

<body id="back">
<!-- What follows is the navbar -->
<nav id="navbar-override" class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="index.html">EM😮J😮</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse order-0 order-md-0" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="index.html">HOME🏡</a>
      <a class="nav-item nav-link" href="feed.html">FEED😋</a>
      <a class="nav-item nav-link" href="emojify.html">EM😮JIFY</a>
    </div>
    <div class="navbar-nav ml-auto">
      <a id="log" class="nav-item nav-link" href="./auth/google">LOGIN📂</a>
    </div>
  </div>
</nav>
<!-- End of navbar -->
<div id="feed-page" class="container">
  <div id="post-table" class="container">
    <div id="first-element" class="row-lg" style="justify-content: center; align-content: center;">
        <h4 style="padding-top: 50px; text-align: center; padding-bottom: 30px;">SEARCH🔍</h4>
        <h5 style="text-align: center; margin-bottom: 30px;"> You can search🔍 for fantabulous🌈 posts📌 below👇, we will find posts by tag🏷️, content📝, or emoji💁!!!</h5>
      <div class="input-group" style="margin-bottom: 30px;">
        <input id="emojify-input" type="text" class="form-control" placeholder="Search🕵️..." />
        <div class="input-group-btn">
          <button class="btn btn-primary" type="submit" onClick="javascript:placePosts();">
            🔍
          </button>
        </div>
      </div>
    </div>
    <!-- What follows are all the posts in our feed in the block comment is a template (add objects to div with id "post-table") -->
     <!-- <div class="row-lg">
      <div id="post" class="container">
        <h6> <i id="username"> User_object </i> &nbsp "timestamp_object" </h6>
        <h5> This is the post content with many emojis... its pretty litty 🔥🔥🔥🔥🔥🔥 </h5>
      </div>
    </div> -->
    <!-- This is the end of the template -->
  </div>
</div>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<!--<script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>-->
<script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.js"></script>
<!-- script for string matching -->
<script src="/static/js/api.js"></script>
<script src="/static/js/search.js"></script>

</body>
</html>